@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body{
    background-color: black;
    color: white;
}
.voltar{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.733);
    border:3px solid white;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    width: 10%;
    text-align: center;
    color: wheat;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: block;
}
a.voltar:hover{
    font-weight: bold;
    background-color: rgb(241, 0, 0);
}
.branco{
    color: wheat;
}
.cor{
    color: aqua;
    font-size: 80px;
    font-family: "Racing Sans One", sans-serif;

}
.texto{
    text-align: center;
}
.dados_total{
    background-image: url(img/asfallto.jpg);
    background-position: center;
    background-size: cover;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 25px;
    margin-left: 18%;
    margin-bottom: 20%;
    border: 5px solid white;
    font-family: "Fjalla One", sans-serif;
}
.escolha{
    background-color:rgba(0, 157, 255, 0.672);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 200px;
    margin-left: 32%;
    margin-right: 30%;
    border: 2px solid red;
    font-size: 20px;
}
.encerar{
    background-color: rgba(0, 157, 255, 0.672);
    color: rgb(252, 252, 252);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 120px;
    margin-left: 38%;
    margin-right: 38%;
    border: 2px solid red;
    font-size: 18px;
    
}

.dicionais{
    background-color: rgba(0, 157, 255, 0.672);
    color: rgb(252, 252, 252);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid red;
}
.informaçao_pessoais{
    background-color: rgba(0, 157, 255, 0.672);
    color: rgb(252, 252, 252);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid red;
    font-size: 20px;
}
.observaçao{
    background-color: rgba(0, 157, 255, 0.672);
    color: rgb(252, 252, 252);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid red;

}
.fonte{
    font-size: 40px;
      font-family: "Fjalla One", sans-serif;

}
p{
        text-align: center;
}
.br{
    text-align: center;
}
a.atalho{
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(0, 102, 255);
    padding: 25px;
    border: 5px solid rgb(255, 0, 0);
    border-radius: 50px;
    display: inline-block;
    width: 10%;
    text-align: center;
}
a.atalho:hover{
    background-color: rgb(0, 153, 255);
    font-weight: bold;
}

h1{
    color: white;
    font-size: 60px;
    font-family: "Racing Sans One", sans-serif;
    display: inline-block;
    padding-left: 40%;

}
.texto-center{
    text-align: center;
    text-decoration: none;
}